:host {
    display: block;
    max-height: 30vh;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

td, th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
