:host {
    display: block;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

td, th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inherited-tag {
    background: lightgray;
    display: inline-flex;
    align-items: center;
    padding: 0px 5px;
    margin-inline-end: 8px;
}
