<mat-accordion>
    <mat-expansion-panel *ngFor="let domain of domains" [disabled]="domainDetails[domain]?.status === 'LOADING'">
        <mat-expansion-panel-header>
            <mat-panel-title>{{domain}}</mat-panel-title>
            <mat-panel-description [ngSwitch]="domainDetails[domain]?.status">
                <ng-container *ngSwitchCase="'LOADED'">{{domainDetails[domain].cookies.length}} Cookies</ng-container>
                <ng-container *ngSwitchCase="'LOADING'">Loading...</ng-container>
                <ng-container *ngSwitchDefault>Click to load</ng-container>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <domain-list-item [domain]="domain" (detailsLoadStart)="handleDetailsLoadStatusChange($event)" (detailsLoad)="handleDetailsLoadStatusChange($event)"></domain-list-item>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
