<p>
    Export cookies of tracked origins to file.
</p>
<form #exportForm="ngForm" (ngSubmit)="onFormSubmit()" [formGroup]="exportOptions">
    <div>
        <mat-form-field>
            <mat-select required placeholder="Select Serialization Method" formControlName="serializationMethod">
                <mat-option *ngFor="let method of serializationMethods" [value]="method[1]">
                    {{method[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="password" placeholder="Passphrase" formControlName="passphrase" [required]="_isPassphraseRequired">
            <mat-hint align="start" *ngIf="_isPassphraseRequired; then passphraseHint else passphraseNotRequiredHint"></mat-hint>
            <ng-template #passphraseHint>Passphrase will be used with the selected serialization method.</ng-template>
            <ng-template #passphraseNotRequiredHint>Passphrase is not needed for the selected serialization method.</ng-template>
        </mat-form-field>
    </div>
</form>
