<h2 mat-dialog-title>Transfer Cookies</h2>
<mat-dialog-content>
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onSelectedIndexChange($event)">
        <mat-tab label="Export To File">
            <div class="tab-content">
                <export-cookies-to-file-dialog (actionsChange)="onActionsChange(0, $event)"></export-cookies-to-file-dialog>
            </div>
        </mat-tab>
        <mat-tab label="Import from File">
            <div class="tab-content">
                <import-cookies-from-file-dialog (actionsChange)="onActionsChange(1, $event)"></import-cookies-from-file-dialog>
            </div>
        </mat-tab>
        <mat-tab label="Transfer To A Cookie Store">
            <div class="tab-content">
                <transfer-cookies-to-store-dialog (actionsChange)="onActionsChange(2, $event)"></transfer-cookies-to-store-dialog>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button *ngFor="let action of actions" mat-button (click)="action.callback()" [color]="action.primary && 'primary'" [disabled]="action.disabled">{{action.name}}</button>
</mat-dialog-actions>
